{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav role="navigation">
  <div id="menuToggle">

    <h1 style="position:absolute; left:50px; top:-25px"><i>Life</i></h1>
    <input type="checkbox" id="menuCheckbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <li>
        <a href="#">
          <label for="menuCheckbox" onclick="this.parentNode.click();"><a href=""><i>Home</i></a></label>
        </a>
      </li>
      <li>
        <a href="#about">
          <label for="menuCheckbox" onclick="this.parentNode.click();"><a href="posts/"><i> Code_PS</i></a></label>
        </a>
      </li>

<!--      <li><label for="menuCheckbox"><a>CS</a></label></li>-->
<!--      <li><label for="menuCheckbox"><a>Contact</a></label></li>-->

      <li>
        <a href="https://github.com/minkyeom" target="_blank"><i>GitHub</i></a>
      </li>
    </ul>
  </div>
</nav>
<main>
    Life is shorts, try everything
    <br>
    This blog is making for study diary & hobby diary
</main>


</body>
</html>