{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">

    <!-- 플랙서블 박스 아래 2줄 추가 후 작동되었다 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=no">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
    </style>

</head>
<body>

    <div id="login">
        <form method="POST">
            <div id="login_logo">
                <p>Miky</p>
            </div>

            {% csrf_token %}
            <div id="login_id_pw">
                <p>
                    <label for="id_username"></label>
                    <input type="text" placeholder="Enter your id" name="username" minlength="4" required id="id_username">
                </p>

                <p>
                    <label for="id_password"></label>
                    <input type="password" placeholder="Enter your password" name="password" minlength="4" required id="id_password">
                </p>

            </div>

            <div id="login_button">
                <button type="submit">Log in</button>
            </div>

        </form>
        <br>
        <div id="google">
            {% csrf_token %}
            <button>
                <a role="button" href="{% provider_login_url 'google' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                        <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
                    </svg>
                    &nbsp Log in with Google
                </a>
            </button>
        </div>
        <br>

        <div id="gohome">
            <button class="btn btn-login" >
                <a href="../../" style="color:white;">

                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                    </svg>

                </a>
            </button>
        </div>

    </div>

</body>
</html>