.blog_button{
    position:absolute;
    right: 100px;
    width: 66px;
    height: 30px;
    line-height: 25px;
    background-color: #fff;
    border-radius: 15px;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    font-size: 12px;
    cursor: pointer;
    text-align: center
    }
