/* 폰트 영역 */

@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

@playball-regular {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}
/*--------------------- 폰트 영역 끝 ------------------------------------------- */

/* 전체 페이지 마진 제거 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

html,body {
    display:flex;
    flex-wrap:wrap;
    width:100%
    height:100%
}


a {
    text-decoration: none;
    color:black;
}

a:hover{
    color:orange;
    }

video{
    /*
    width:100%;
    height:200vh;
    */
    position:fixed;
    top:0;
    object-fit: fill;
    opacity:0.3;
    z-index:-1;

    /* */
    width:100vw;
	height:100vh;
}

/*--------------------------------머릿말 <header> -------------------------------*/
/*
menu: z-index:900떄
search: z-index:400때
login: 헤더보단 높게
*/
header {
    position:relative;
    width:100vw;
    height:100px;
    border-style:none;
    background-color:white; /* #B1B6B7; */
    display:flex;
    z-index:1;
}
#menu_board {
    width:100vw;
    height:100vh;
    border-style:none;
    background-color:white;
    position:absolute;
    left:-100vw;
    top:0px;
    z-index:998;
    transition:1s;

	font:bold 25px "Playball";
	color:#808080;
	line-height: 50px;
	margin:0 auto;
	text-align: center;


}
#in_menu{
    width:100vw;
    height:100px;
    position:relative;
    background-color:#B1B6B7;
}

#in_menu > #menu_list {
    position:absolute;
    top:50%;
    left:49%;
    color:black;
    margin: -25px 0 0 -25px;
}

#check:checked + #menu >#menu_board {
    transform:translate(100vw);
}

#menu_close {
    display:none;
    position:absolute;
    top:25px;
    left:10px;
    z-index:999;

    >svg {
    width:40;
    height:40;

    @media all and (max-width: 450px) {
    width:35;
    height:35;
    }

    }
}

#menu_open {
    position:absolute;
    top:25px;
    left:10px;
}

/* 드롭 다운 메뉴 열린 후 */
#check:checked + #menu > #menu_close {
    display:block;
}

/*드롭 다운 메뉴 열리기 전 */
#check:checked + #menu > #menu_open{
    display:none;
}


#login_check{
    position:absolute;
    top:25px;

    @media all and (max-width: 749px) {
        right:10px;
    }

    @media all and (min-width: 750px) {
        right:30px;
    }
}

#title_box {
    width:100vw;
    height:100px;
    display:flex;
    justify-content: center;
}

#post_title {
    width:65vw;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break:break-all;

    font:bold 20px "Kalam";

    @media all and (max-width: 750px) {
        font:bold 15px "Kalam";
    }

    @media all and (max-width: 450px) {
        font:bold 12px "Kalam";
    }
}
/* ---------------------------------- 헤더 영역 끝----------------------------------------*/

/*----------------------------- 메인 구역 ---------------------------------------*/
main {
    width:80vw;
    margin-top:20px;
    margin-left:10vw;
    margin-right:10vw;
    display:flex;
    flex-wrap:wrap;
    word-break:break-all;
    color:black;

    /* 플렉스 박스 방향성 설정 */
    flex-direction:column;
    }

main >#post_author{
    font:bold 15px "Playball";
    height:25px;
    display:flex;
    flex-direction:row;
}

main >#post_tags{
    font:bold 15px "Kalam";
    height:25px;
    display:flex;
    flex-direction:row;

}

main > #post_content{
    font:bold 18px "Kalam";
    white-space: pre-wrap;
    word-break: break-all;

    >pre{
        white-space: pre-wrap;
        word-break: break-all;
        font:bold 18px "Kalam";

    @media all and (max-width: 750px) {
        font:bold 13px "Kalam";
    }

    @media all and (max-width: 550px) {
        font:bold 12px "Kalam";

    }

    }
}


 /*----------------- 메인 구역 끝 --------------------*/



/*--------------마크 다운 디자인 설정--------------------------------------*/
/*
blockquote {
  border: 1px solid #00CCCC;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 10px solid #00CCCC;
}
*/

blockquote {
  border: 1px solid black; /* #27a9e3;*/
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 10px solid #585d6e; /*#27a9e3;*/
}
/* 코드 구분 지을 백틱 전후 추가 */
code:before{content:"```\A"}
code:after{content:"\A```"}

code {
    font:bold 18px "Kalam";
    color:#585d6e;

    @media all and (max-width: 750px) {
        font:bold 13px "Kalam";
    }

    @media all and (max-width: 550px) {
        font:bold 12px "Kalam";
    }

    }
