/* 폰트 영역 */

@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

@playball-regular {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}
/*--------------------- 폰트 영역 끝 ------------------------------------------- */

/* 전체 페이지 마진 제거 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

html {
    display:flex;
    flex-wrap:wrap;
}

a {
    text-decoration: none;
    color:black;
}

/*--------------------------------머릿말 <header> -------------------------------*/

/*--------------------------------머릿말 <header> -------------------------------*/
/*
menu: z-index:900떄
search: z-index:400때
login: 헤더보단 높게
*/
header {
    position:relative;
    width:100vw;
    height:100px;
    border-style:none;
    background-color:#B1B6B7;
    display:flex;
    z-index:1;
}
#menu_board {
    width:100vw;
    height:100vh;
    border-style:none;
    background-color:white;
    position:absolute;
    left:-100vw;
    top:0px;
    z-index:998;
    transition:1s;

	font:bold 25px "Kalam";
	color:#808080;
	line-height: 50px;
	margin:0 auto;
	text-align: center;


}
#in_menu{
    width:100vw;
    height:100px;
    position:relative;
    background-color:#B1B6B7
}

#in_menu > #menu_list {
    position:absolute;
    top:50%;
    left:49%;
    color:black;
    margin: -25px 0 0 -25px;
}

#check:checked + #menu >#menu_board {
    transform:translate(100vw);
}

#menu_close {
    display:none;
    position:absolute;
    top:25px;
    left:10px;
    z-index:999;

    >svg {
    width:40;
    height:40;

    @media all and (max-width: 450px) {
    width:35;
    height:35;
    }

    }
}

#menu_open {
    position:absolute;
    top:25px;
    left:10px;
}

/* 드롭 다운 메뉴 열린 후 */
#check:checked + #menu > #menu_close {
    display:block;
}

/*드롭 다운 메뉴 열리기 전 */
#check:checked + #menu > #menu_open{
    display:none;
}

/* 검색 시스템 드롭 다운 */
#search_menu {
    width:100vw;
    height:200px;
    background-color:#B1B6B7;
    position:relative;
    top:-200px;
    transition:1s;
    z-index:4;
}
#search_menu > form> #search_text{
    position:absolute;
    top:40%;
    left:10%;
    display:flex;
    width:80vw;
    height:13vh;
    background-color:#B1B6B7;
    flex-direction:row;
}

#search_menu > form >#search_text > #search_button{
    flex-wrap:wrap;
    width:3rem;
    height:3rem;
    background-color:green;

    >button {
        width:3rem;
        height:3rem;
    }
}

#search_menu >form >#search_text >#search_list{
    >input {
        width:70vw;
        height:3rem;
        font-size:1.3rem;
        letter-spacing:2px;
        }
    background-color:#B1B6B7;

}
#search_click{
    width:0;
    height:0;}

#search_open {
    position:absolute;
    top:29px;
    @media all and (max-width: 749px) {
        right:60px;
    }

    @media all and (min-width: 750px) {
        right:80px;
    }
}

#search_close {
    display:none;
}

#search_check:checked + #search_click > #search_menu{
    transform:translateY(200px);
}

#search_check:checked + #search_click > #search_close{
    display:block;
    position:absolute;
    right:20px;
    top:25px;
    z-index:5;
}

#search_check:checked + #search_click > #search_open{
    display:none;
}

#login_check{
    position:absolute;
    top:25px;

    @media all and (max-width: 749px) {
        right:10px;
    }

    @media all and (min-width: 750px) {
        right:30px;
    }
}

#search_check:checked + #search_click > #login_check{
    display:none;
}

#logo {
    position:absolute;
    left:65px;
    top:35px;
    font:bold 25px "Playball";

    @media all and (max-width: 450px) {
        font:bold 15px "Playball";
    }
}
/* ----------------------------- 헤더 영역 끝------------------------------------*/

/*------------------------------- 메인영역 ---------------------------------------*/

body {
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;

    >#login {
    /* 내부 컨텐츠 사각형 중앙에 배치 */
    justify-content: center;
    align-items: center;
    }
}

#login{
    display:flex;
    flex-direction:column;
    width:60vw;
    background-color:;

    >form >#login_id_pw{

      >p >input{
        width:40vw;
        height:60px;
        letter-spacing: 2px;
        font:bold 20px "Kalam";

        @media all and (max-width: 879px) {
            width:45vw;
            height:60px;
            letter-spacing: 2px;
            font:bold 20px "Kalam";
        }
        @media all and (max-width:600px){
            width:60vw;
            height:60px;
            letter-spacing: 2px;
            font:bold 20px "Kalam";
        }

        @media all and (max-width:400px){
            width:70vw;
            height:60px;
            letter-spacing: 2px;
            font:bold 20px "Kalam";
        }

    }
    /* ::placeholder 설정 */
      >p >input::placeholder{
        font-size:20px;
        }

      @media all and (max-width: 879px) {
            >p >input::placeholder{
            font-size:17px;
            }
        }
      @media all and (max-width: 600px) {
            >p >input::placeholder{
            font-size:15px;
            }
        }
      @media all and (max-width: 400px) {
            >p >input::placeholder{
            font-size:0px;
            }
        }

    }
    /* placeholder 설정 끝 */
}
/* input 부분 끝 */


#login_button{
    display:flex;
    justify-content: center;
    align-items: center;

    >button {
        width:40vw;
        background-color:white;
        text-align:center;
        font:bold 30px "Playball";

        @media all and (max-width: 879px) {
            width:45vw;
        }
        @media all and (max-width:600px){
            width:60vw;
        }

        @media all and (max-width:400px){
            width:70vw;
        }

    }

    >button:hover {
        background-color:black;
        color:white;
    }

}
#gohome>button{
    background-color:black;
}

#gohome >button:hover{
    background-color:#B1B6B7;
}

#login_logo {
    font:bold 60px "Playball";
    text-align:center;
}

